# Ignore everything by default
*

# Allow only files starting with "alexkidd" in the lua/ge/extensions/editor directory
!lua/
!lua/ge/
!lua/ge/extensions/
!lua/ge/extensions/editor/
!lua/ge/extensions/editor/alexkidd*.*

# Allow markdown documentation files in the editor directory
!lua/ge/extensions/editor/*.md

# Allow essential project files
!README.md
!.gitignore

