name: Release Assets

on:
  release:
    types: [created, published]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Create release zip
      run: |
        # Create a zip file with the repository name containing the lua folder contents
        zip -r alexkidd_beamng_worldeditor_plugins.zip lua/
    
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./alexkidd_beamng_worldeditor_plugins.zip
        asset_name: alexkidd_beamng_worldeditor_plugins.zip
        asset_content_type: application/zip
